script(src="http://code.jquery.com/jquery-1.11.0.min.js")
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
link(rel='stylesheet', type='text/css', href='/style.css')