div(id='nav-container')
    ul(id='nav')
        li(id='logo')
            a(href="#") SurveyApp
        li(class='menu-clickable') 
            a(href='/admin/dashboard') Dashboard
        li(class='menu-clickable') 
            a(href='/admin/surveys') Surveys
        li(class='menu-clickable')
            a(href='/admin/responses') Responses
        li(class='menu-clickable') 
            a(href='/admin/participants') Participants