div(id='nav-container')
    ul(id='nav')
        li(id='logo')
            a(href="#") HuGen
        li(class='menu-clickable') 
            a(href='/admin/surveys') Surveys
        li(class='menu-clickable') 
            a(href='/admin/participants') Participants
        li(id='nav-login') 
            a(href='/admin/login') Login