form(id='question-form')
    label Enter Question 
        input(id='query' type='text' name='query')

    label Question Type 
        select(id='question-type' name='type')
            option(value='Text') Text
            option(value='Textarea') Textarea
            option(value='Checkbox') Checkbox
            option(value='Radio Button') Radio Button
            option(value='Dropdown') Dropdown
            option(value='Number') Number
            option(value='Patent') Patent
            option(value='Publication') Publication
            option(value='Company') Company

    //- Checkbox, Radiobutton, Dropdown form
    label(id='options' class='hidden') Enter Options
        br 
        input(id='options-element' type='textarea' name='options')
        br
        a(id='add-option' onclick='addOption()') + Add Option

    //- Number form
    //- label(id='number' class='hidden') Enter Range
    //-     br
    //-     input(id='min' type='textarea' name='min' placeholder='Minimum, Ex: 1')
    //-     span  to 
    //-     input(id='max' type='textarea' name='max' placeholder='Maximum')

    input(id='survey-id' type='hidden' name='id' value=survey._id)
    input(type='submit' value='Add Question')






