doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').
      function getParticipant(id) {
        $.ajax('/api/participants/'+id, {
          cache: false,
          type: 'GET',
          success: function(data) {
            window.location.replace("/admin/participants/"+id);
          }
        });
      }

      function removeParticipant(id) {
        $.ajax('/api/participants/'+id, {
          cache: false,
          type: 'DELETE',
          success: function(data) {
            $('#participant-'+id).remove();
          }
        });
      }
  body
    include includes/nav
    #content-area
      h1= header
      
      if (participants.length < 1)
        p There are no participants right now.
      else
        table(class='table-theme' id='participants')
          thead
            tr
              th Name
              th Email
              th Survey
              th
              th
          tbody
            each participant in participants
                tr(id='participant-'+participant._id)
                  td
                    a(onclick='getParticipant("'+participant._id+'")')= participant.first_name+' '+participant.last_name
                  td= participant.email
                  if participant.available_surveys.length > 0
                    td= participant.available_surveys[0].name
                  if participant.completed_surveys.length > 0
                    td= participant.completed_surveys[0].name
                  td
                    a(id='delete-button' onclick='removeParticipant("'+participant._id+'")') x
