doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').
      function removeSurvey(id) {
        $.ajax('/api/surveys/'+id, {
          cache: false,
          type: 'DELETE',
          success: function(data) {
            window.location.replace("/admin/surveys");
          }
        });
      }
  body
    h1 Admin
    h1= header 
      span
        a(id='delete-button' onclick='removeSurvey("'+survey._id+'")')  x
    p This survey is 
      span=survey.status.toLowerCase()
      
    if survey.questions.length < 1
      p There are no questions in this survey yet. Let's add some.
    else
      p= survey.questions

    div.question-box
      include includes/question_form

    if survey.status === "Unpublished"
      p
    else
      p= survey.responses