doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').
  body
    include includes/nav
    #content-area
        p= participant.first_name+' '+participant.last_name
        p= participant.email
        p= 'Available Surveys: '+participant.available_surveys[0].name
        p= 'Completed Surveys: '+participant.completed_surveys