doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').
      function removeSurvey(id) {
        $.ajax('/api/surveys/'+id, {
          cache: false,
          type: 'DELETE',
          success: function(data) {
            $('#survey-'+id).remove();
          }
        });
      }

      function getSurvey(id) {
        window.location.replace("/admin/surveys/"+id);
      }
  body
    h1 Admin
    h1= header
    a(class='button', href='/admin/surveys/new') New Survey
    if (surveys.length < 1)
      p There are no surveys. Time to make one.
    else
      table(class='table-theme')
        thead
          tr
            th Name
            th Status
            th
        tbody
          each survey in surveys
            tr(id='survey-'+survey._id)
              td
                a(id='get-survey' onclick='getSurvey("'+survey._id+'")')= survey.name
              td= survey.status
              td
                a(id='delete-button' onclick='removeSurvey("'+survey._id+'")') x