doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript' src='/javascripts/admin_survey.js')
  body
    include includes/nav
    #content-area
      div(id='response' class='hidden')

      div(id='survey-info-box')
        h1= header 
          span
            //- Control buttons for survey depend on status
            //-   Types:
            //-   Delete  - removes the survey and all the responses and participants
            //-   Publish - activates the survey for participants to submit responses
            //-   Metrics - view table of responses and individual responses
            //-   Close   - end the survey so no more participants can submit responses
            
            a(class='survey-buttons' id='remove-button' onclick='removeSurvey("'+survey._id+'")') Delete
            if (survey.status === "Unpublished")
                a(class='survey-buttons' id='publish-button' onclick='publishSurvey("'+survey._id+'")') Publish
            if (survey.status === "Published" || survey.status === "Closed")
              a(class='survey-buttons' id='metrics-button' onclick='getSurveyResponses("'+survey._id+'")') Responses
            if (survey.status === "Published" || survey.status === "Closed")
              a(class='survey-buttons' id='download-button' target="_blank" href='/admin/surveys/'+survey._id+'/responses.csv') Download
            if (survey.status === "Published")
              a(class='survey-buttons' id='close-button' onclick='closeSurvey("'+survey._id+'")') Close
            else
              a(class='survey-buttons hidden' id='metrics-button' onclick='getSurveyResponses("'+survey._id+'")') Responses
              a(class='survey-buttons hidden' id='close-button' onclick='closeSurvey("'+survey._id+'")') Close
        
        //- Published survey's URL
        if survey.status === "Published"
          div(id='url-instructions') 
            div Share this published survey URL with your participants:
            input(type="text" id="url_large" name="url_large" value='http://localhost:3000/surveys/to/'+survey._id readonly="")
        else
          div(id='url-instructions' class='hidden') 
            div Share this published survey URL with your participants:
            input(type="text" id="url_large" name="url_large" value='http://localhost:3000/surveys/to/'+survey._id readonly="")
      
      //- Question form for unpublished survey
      if survey.status === "Unpublished"
        div.question-box
          include includes/question_form
      
      //- Table for survey's questions
      table(class='table-theme-questions' id='questions-table')
        thead
          tr
            th Question
            th Type
            th Options
            if survey.status === "Unpublished"
              th
        tbody
          each question in survey.questions
            tr(id='question-'+question._id)
              td= question.query
              td= question.type
              td= question.query_options.toString().replace(/,/g, ' - ')
              if survey.status === "Unpublished"
                td
                  a(id='delete-button' onclick='removeQuestion("'+survey._id+'","'+question._id+'")')
                    &#10006;


