mixin prettyDate(date)
  -var d = new Date(date)
  span= dateFormat(d, "dd mmm yyyy h:MM TT")

doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').
      function getResponse(id) {
        $.ajax('/api/responses/'+id, {
          cache: false,
          type: 'GET',
          success: function(data) {
            window.location.replace("/admin/responses/"+id);
          }
        });
      }
  body
    include includes/nav
    #content-area
      h1= header
      
      if (responses.length < 1)
        p There are no responses right now.
      else
        h3 Responses
        table(class='table-theme' id='unpublished-surveys')
          thead
            tr
              th Survey
              th Date
              th Participant
              th
          tbody
            each response in responses
                tr(id='survey-'+response.survey_id)
                  td= response.survey_id.name
                  td
                    +prettyDate(response.date)
                  td
                    a(onclick='getResponse("'+response._id+'")')= response.participant_id