doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').

        function getResponse(response_id, survey_id) {
            window.location.replace("/admin/surveys/"+survey_id+"/responses/"+response_id);
        }

        //- function removeResponse(response_id, survey_id) {

        //- }

  body
    include includes/nav
    #content-area
        h1 Responses

        div(id='survey-responses')
            table(class='table-theme')
                thead
                    tr
                        th
                        th Participant
                        each question in responses[0].survey_id.questions
                            th= question.query

                    tbody
                    each response in responses
                        tr(id='response-'+response._id)
                            td(id='delete-box')
                                a(id='delete-button' onclick='removeResponse("'+response._id+'","'+response.survey_id._id+'")') x
                            td
                                a(onclick='getResponse("'+response._id+'","'+response.survey_id._id+'")')= response.participant_id.first_name+' '+response.participant_id.last_name
                            each answer in response.answers
                                td= answer

