doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').

      $(function() {
          // Get survey id from URL pathname and update value
          var pathname = window.location.pathname.split( '/' );
          var survey_id = window.location.pathname.split('/')[ pathname.length - 2 ];
          $("#survey_id").val(survey_id);
          console.log(survey_id);

          $("#participant-info-form").submit(postParticipant);
      });

      // combines first and middle names
      function getFirstName() {
        var first = $("#first_name").val()
        var middle = $("#middle_name").val()
        if(middle === '') { return first; }
        else { return first + ' ' + middle; }
      }

      function postParticipant() {
        var survey_id = $("#survey_id").val();
        $.ajax('/api/participants/new', {
          type: 'POST',
          data: {
            first_name: getFirstName(),
            last_name: $("#last_name").val(),
            email: $("#email").val(),
            survey_id: survey_id
          },
          success: function(data) {
            if (data === "Error missing input") {
              $("#response").html("Oops, you're missing something.").css("background-color","#f2dede").fadeIn(function() {
                setTimeout(function() {
                  $("#response").fadeOut("slow");
                }, 4000);
              });
            } else {
              var participant = data;
              window.location.replace("/surveys/"+survey_id+"/u/"+participant._id);
            }
          }
        });
        return false;
      } 

  body
    include includes/nav_public
    #content-area
      div(id='response' class='hidden')

      div(id='participant-info-popup')
        div(id='instructions') We want to make this survey easy for you to fill out by searching for your publications and patents so you don't have to. But we're going to need your help with your full name and email address.
        form(id='participant-info-form')
            label First Name
              input(id='first_name' type='text' name='first_name' placeholder='John')
            label Middle Name (optional)
              input(id='middle_name' type='text' name='middle_name' placeholder='A')
            label Last Name
              input(id='last_name' type='text' name='last_name' placeholder='Smith') 
            label Email
              input(id='email' type='email' name='email' placeholder='jasmith@example.com')
            input(id='survey_id' type='hidden' name='survey_id' value="")
            input(id='participant-submit-button' type='submit' value='Search')






