doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
  body
    include includes/nav_public
    #content-area
        h1 Welcome
        form(id='participant-form' action='/api/participants/new', method='post')
            h3 Name
            input(id='fname' type='text' name='fname' placeholder='First name')
            input(id='lname' type='text' name='lname' placeholder='Last name')
            h3 Email Address
            input(id='email' type='text' name='email' placeholder='johnsmith@example.com')
            br
            input(id='submit-response' type='submit' value='Submit')
    