doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').
  body
    include includes/nav_public
    #content-area
        h1 Home Page
    