doctype html
html(lang="en")
  head
    title SurveyApp
  body
    h1= header
    ul
      if (names.length < 1)
        p There are no surveys. Time to make one.
      else
        each name in names
          li= name
    a(class='button', href='/admin/survey/new') New Survey