doctype html
html(lang="en")
    head
        title SurveyApp
        include includes/head
    body
        h1= header
        div.surveyform
            form(name='survey', action='/api/surveys/new', method='post')
                input(type='text', name='name' placeholder='Survey Name')
                br
                input(type='hidden' name='status' value='Unpublished')
                br
                input(type="submit", value="Create")