doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').
      function getSurvey(id) {
        $.ajax('/api/surveys/'+id, {
          cache: false,
          type: 'GET',
          success: function(data) {
            window.location.replace("/surveys/"+id);
          }
        });
      }
  body
    include includes/nav_public
    #content-area
      h1= header
      if (surveys.length < 1)
        p There are no surveys that you can take right now.
      else
        table(class='table-theme')
          thead
            tr
              th Name
              th 
          tbody
            each survey in surveys
              if (survey.status === "Published")
                tr(id='survey-'+survey._id)
                td= survey.name 
                td
                  a(id='get-survey' onclick='getSurvey("'+survey._id+'")') Start