doctype html
html(lang="en")
    head
        title SurveyApp
        include includes/head
        script(type='text/javascript' src='/javascripts/public_survey.js')
    body
        include includes/nav_public
        #content-area
            h1= survey.name
                span  Survey
            form(class= 'participant-survey' id='survey-'+survey._id)
                each question in survey.questions
                    div(class='question-area' id='question-'+question._id)
                        h3= question.query
                        //- div= question.type
                        if (question.type === "Short Text" || question.type === "Long Text" || question.type === "Text")
                            input(type='text')

                        if (question.type === "Company")
                            span Right now I work at 
                            input(type='text' placeholder='company')
                            span  as a 
                            input(type='text' placeholder='job position')
                            span  and my yearly salary is 
                            input(type='text' placeholder='50,000')

                        if (question.type === "Dropdown")
                            select
                                each opt in question.query_options
                                    option(value=opt)= opt
                        if (question.type === "Number")
                            input(type='text')

                        if (question.type === "Patent")
                            span I am most proud of my patent on  
                            select
                                option(value='patent') Pick a Patent
                            span  because
                            input(id='patent-textarea' type='textarea')
                        if (question.type === "Publication")
                            span I am most proud of my publication on   
                            select
                                option(value='publication') Pick a Publication
                            span  because
                            input(id='publication-textarea' type='textarea')
            input(id='survey-id' type='hidden' name='id' value=survey._id)
            input(id='submit-survey' type='submit' value='Submit')
