doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').
      
  body
    include includes/nav_public
    #content-area
        div(id='thankyou-message')
            div Thank You
            div(id='social-icons-bar')
                a(href='http://facebook.com/PittPublicHealth' title='Facebook' target="_blank")
                    img(src="https://www.publichealth.pitt.edu/portals/0/Main/fb_icon.png" alt="Facebook")
                a(href='https://twitter.com/PittPubHlth' title='Twitter' target="_blank")
                    img(src="https://www.publichealth.pitt.edu/portals/0/Main/twitter_icon.png" alt="Twitter")
                a(href='http://www.youtube.com/pittpublichealth' title='YouTube' target="_blank")
                    img(src="https://www.publichealth.pitt.edu/portals/0/Main/youtube_icon.png" alt="YouTube")
                a(href='http://www.linkedin.com/groups?home=&gid=3295709&trk=anet_ug_hm' title='LinkedIn' target="_blank")
                    img(src="https://www.publichealth.pitt.edu/portals/0/Main/linkedin_icon.png" alt="LinkedIn")