body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

ul {
    list-style-type: none;
}

.table-theme th {
    padding: 12px 20px;
    text-align: left;
}

.table-theme td {
    padding: 11px 20px 0;
    font-size: 14px;
}

.table-theme th {
    border-bottom: 2px solid black;
}

.table-theme tr:hover {
    font-weight: 400;
}

#delete-button {
    color: red;
    font-weight: 400;
}

#delete-button:hover {
    font-weight: 700;
}

.question-box {
    background-color: #ededed;
    width: 50%;
}