body {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

#content-area {
    margin: auto;
    width: 70%;
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

ul {
    list-style-type: none;
}


/* Navigation Bar */
#nav-container {
    background-color: #f2f2f2;
}

#nav {
   list-style-type: none;
   padding: 15px;
   margin: auto;
   width: 70%;
}

#logo {
    font-size: 150%;
    margin-right: 50px;
    padding-left: 0px !important;
}

#nav li {
    display: inline;
    padding: 10px;
}

#nav a {
    text-decoration: none;
    color: #737373;
    font-weight: 400;
}

#nav a:hover {
    color: #00757b;
    font-weight: 400;
    font-size: 105%;
}
/* End Navigation Bar */


/* Table Styling */
.table-theme th {
    padding: 12px 20px;
    text-align: left;
}

.table-theme td {
    padding: 11px 20px 11px 20px;
    font-size: 14px;
}

.table-theme th {
    border-bottom: 2px solid black;
}

.table-theme tr:hover {
    color: #00757b;
    background-color: #f2f2f2;
}
/* End Table Styling */

#delete-button {
    color: red;
    font-weight: 400;
}

#delete-button:hover {
    font-weight: 700;
}

.question-box {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    font-size: 120%;
}

.text {
    font-size: 120%;
    outline: none;
    text-align: center;
}

.radio {
    display: block;
    padding: 5px;
}

.checkbox {
    display: block;
    padding: 5px;
}

.dropdown {
    font-size: 120%;
}

.textarea {
    margin-top: 10px;
    resize: none;
    outline: none;
    width: 90%;
    font-size: 110%;
}

label {
    display: block;
    margin: 10px;
}

.hidden {
    display: none;
}

#add-option {
    font-weight: 400;
}

#add-option:hover {
    font-weight: 700;
}

/* Start survey button */
#start-survey {
    color: white;
    background-color: #6ca562;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#start-survey:hover {
    background-color: #7bae72;
}
/* End start survey button */



/* Submit survey button */
#submit-response {
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 5px 15px;
    background: #00757b;
    color: white;
    border: 0 none;
    cursor: pointer;
    font-size: 110%
}

#submit-response:hover {
    background: #008d95;
}
/* End submit survey button */



.question-area {
    padding: 15px 0px;
    font-size: 120%;
}

.question-area h3 {
    color: #008d95;
}

.Company input[type='text'] {
    width: 35%;
}

.participant-survey {
   width: 70%;
   margin-right: auto;
   margin-left: auto;
}

input[type=text] {
    border: 0px;
    border-bottom: 1px solid #ccc !important;
    width: 20%;
    height: 20px;
}

#url-instructions {
    padding-bottom: 10px;
}

#url_large {
    border: 1px solid #ccc !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #4a9998;
    width: 65%;
    font-size: 120%;
}

#survey-info-box {
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

.survey-buttons {
    float: right;
    margin-left: 5px;
    margin-bottom: 100px;
    padding: 5px 15px;
    background: #00757b;
    color: white;
    border: 0 none;
    cursor: pointer;
    font-size: 50%
}

.survey-buttons:hover {
    background: #008d95;
}

#participant-info-popup {
    font-size: 120%;
    display: hidden;
    width: 45%; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

#instructions {
    padding-bottom: 50px;
}

#participant-info-form input {
    width: 60%;
    margin-right: 30px;
    float: right;
}

#participant-submit-button {
    text-align: center;
    width: 20% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 5px 15px;
    background: #4fa46b;
    color: white;
    border: 0 none;
    cursor: pointer;
    font-size: 110%
}

#participant-submit-button:hover {
    background: #008d95;
}

.button {
    padding: 5px 15px;
    background: #00757b;
    color: white;
    border: 0 none;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background: #008d95;
}

.new-survey-box {
    float: left;
    background-color: #00757b;
    text-align: center;
    width: 20%;
    padding: 55px 5px;
    margin: 10px;
    display: block;
    border: 1px solid;
    border-color: #008d95;
    box-shadow: 0px 2px 2px #adadad;
    cursor: pointer;
}

.survey-box {
    float: left;
    background-color: #ffffff;
    text-align: center;
    width: 20%;
    padding: 55px 5px;
    margin: 10px;
    display: block;
    border: 1px solid;
    border-color: #ededed;
    box-shadow: 0px 2px 2px #adadad;
    cursor: pointer;
}

.survey-box-name {
    font-weight: 400;
    font-size: 120%;
}

.survey-box-responses {
    background-color: #ededed;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px 2px;
}

.survey-box-unpublished {
    background-color: #f0b6b6;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px 2px;  
}

#new-survey-plus {
    color: #ffffff;
}





/* Welcome letter */
#welcome-letter {
    font-size: 120%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.right-align {
    text-align: right;
}

#begin{
    padding-top: 70px;
    text-align: center;
}

#begin button {
    padding: 10px 20px;
    background: #00757b;
    color: white;
    border: 0 none;
    cursor: pointer;
    text-decoration: none;
    font-size: 120%;
}

#begin button:hover {
    background: #008d95;
}
/* end */






#publications-box {
    padding-top: 50px;
    font-size: 120%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#publications-form button {
    margin-top: 50px;
    padding: 10px 20px;
    background: #00757b;
    color: white;
    border: 0 none;
    cursor: pointer;
    text-decoration: none;
    font-size: 120%;
}

#publications-form button:hover {
    background: #008d95;
}

#publications-form div {
    padding: 5px;
}

#patents-box {
    font-size: 120%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#survey-title {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}